<!DOCTYPE html>
<html lang="en">
  <% include head %>
  <body>

   <div class="container">

   <% include navbar %>


  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="webPageHeading">Donate</div>
    </div>
  </div>
<div class="main_section">
<div class="main_body">
<div>We thank you for your support!  Please send donations to:

<div class="address">ALL CREATURES ANIMAL CARING SOCIETY<br> 
P.O. Box 3664<br>
San Rafael, CA 94912</div>
<div>Donations can also be made with a credit card through JustGive.org (please click on the logo below and search for "All Creatures Animal Caring Society"). 
</div>
<div class=address style="text-align: center"><a href="https://www.justgive.org"><img src="images/justgive.jpg"/></a></div>

</div>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


</body>
    </div>

  </div>

