<!DOCTYPE html>
<html lang="en">
  <% include head %>
  <body>

   <div class="container">

   <% include navbar %>


  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="webPageHeading">General Information</div>
    </div>
  </div>
<div class="main_section">

  <div class="main_body">Adoption Fee:  $250.00, unless otherwise noted</div>

  <div class="main_body">Most All Creatures' dogs are given the works:</div>
  <ul>
  <li class="main_body">SPAY or NEUTER</li>
  <li class="main_body">VACCINATIONS*</li>
  <li class="main_body">Rabies</li>
  <li class="main_body">Bordatella</li>
  <li class="main_body">Distemper*</li>
  <li class="main_body">Many come with a MICROCHIP</li> 
  </ul>

  <div class="main_body">Boosters might be required by your vet</div> 

</div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="webPageHeading">Meet one of our dogs</div>
    </div>
  </div>

<div class="main_section">

  <div class="main_body first-page">Complete our Adopter Profile Application.  We do not have a facility.  If you are a match for the dog, we will contact you and arrange a meeting place.</div> 

  <div class="main_body">Want to be a host family?</div> 

  <div class="main_body">Great opportunity for dog-savvy people or those who cannot have, or do not want, a permanent dog.  Food, Supplies, Vet care paid.  Marin County preferred.  PLEASE CALL OR E-MAIL IF YOU CAN HELP.</div>

  <div class="main_body">Fill out application and return to us at:  lyncat1@sbcglobal.net OR, print and send to us via U. S. Mail:  P. O. Box 3664 / San Rafael, CA 94912</div>

  <div class="main_body">All Creatures is a nonprofit, all-volunteer, animal welfare organization dedicated to helping displaced animals.  To be considered as an Adopter, you must be 1) at least 18 yrs old, 2) be able/willing to spend the time and money to provide proper care, training & veterinary support.  Animal guardianship is a major responsibility and a long-term commitment.  You will be sharing your life with an animal for 15 or more years.  In All Creatures’ on-going effort to find the best match between prospective adopters and the animals in our charge, we ask that you fill out this questionnaire.</div>
  </div>
</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


</body>
    </div>

  </div>

