  <head>
    <meta charset="utf-8">
    <title>AllCreaturesMarin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="stylesheets/bootstrap.css" media="screen">
    <link rel="stylesheet" href="stylesheets/custom.css" media="screen">
<link href='https://fonts.googleapis.com/css?family=Carme' rel='stylesheet' type='text/css'>    
<link href='https://fonts.googleapis.com/css?family=Henny+Penny' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
    <!-- <link href="stylesheets/style.css" rel="stylesheet" />     -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>