<!DOCTYPE html>
<html lang="en">
  <% include head %>
  <body>

   <div class="container smaller_container">

   <% include navbar %>
      <div class="first_page_jumbo"></div>
      <div class="my-jumbotron no-padding">
      <div class="row">
        <div class="col-lg-6"> 
          <div style="text-align: center; margin-bottom: 20px"><img class="first_page" src="images/background.png" /></div>
        </div>
        <div class="col-lg-6">         
          <div class="logofont text-center">All Creatures</div>   
          <div class="sublogofont text-center" style="margin-left: 10px">Animal Caring Society</div>
          <div class="text-center"><img class="logo" src="images/LOGO.png" alt="some text" /></div>

                <div class="add-margin">. . . a 501 (c) 3 nonprofit, all-volunteer animal welfare organization, dedicated to the placement of abandoned, neglected and displaced animals—mostly from public shelters. All Creatures has been operating in Marin County since 1995.</div>

                <div class="add-margin">Only the most caring individuals and families are matched to our clients.  If you are interested in learning who is available for adoption at this time, please e-mail Lyn Gladstone at <a href="mailto:lyncat1@sbcglobal.net?subject=All Creatures Animal Caring Society">lyncat1@sbcglobal.net</a> or call 415-456-1941 or click below.</div> 
        </div>
      </div>
      </div>


      <div class="outer-Aligner">
        <a href="/adoptableAnimals" class="flex-item custom-btn text-center Aligner" >Adoptable Animals</a>
        <a href="/adoptionApp" class="flex-item custom-btn text-center Aligner" >Adoption Application</a>
        <a href="/ourClients" class="flex-item custom-btn text-center Aligner" >Our Clients</a>
        <a href="/donate" class="flex-item custom-btn text-center Aligner" >Donate</a>
        <a href="/generalInfo" class="flex-item custom-btn text-center Aligner" >General Information</a>
      </div>

<!-- 
      <div class="outer-Aligner2 visible-xs">
        <a href="/adoptableAnimals" class="flex-item custom-btn text-center Aligner" >Adoptable Animals</a>
        <a href="/adoptionApp" class="flex-item custom-btn text-center Aligner" >Adoption Application</a>
        <a href="/ourClients" class="flex-item custom-btn text-center Aligner" >Our Clients</a>
        <a href="/donate" class="flex-item custom-btn text-center Aligner" >Donate</a>
        <a href="/generalInfo" class="flex-item custom-btn text-center Aligner" >General Information</a>
      </div>
 -->

    </div>



<!--     // <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    // <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    // <script src="../assets/js/custom.js"></script> -->
  <script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>




</body></html>





